
.main-content {
    padding-top: 1em;
}

.blog-item {
    padding-bottom: 1em;
}

.card-body a {
    text-decoration: none;
    background-color: transparent;
    color: rgba(0,0,0,.5);
}

.card-body a:hover {
    color: rgba(0,0,0,.7);
}

.post-metadata a {
    text-decoration: none;
    background-color: transparent;
    color: rgba(0,0,0,.5);
}

.post-metadata a:hover {
    color: rgba(0,0,0,.7);
}