---
---

$page-background-color: #efecec;
$link-color: rgba(0, 0, 0, 0.5);
$link-hover-color: rgba(0, 0, 0, 0.7);

body .container {
  background-color: $page-background-color;
}

#site-body {
  background-color: $page-background-color;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol";
}

.main-content {
  font-family: Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif;
  background-color: white;
  margin: 0.5em;
  padding: 1em;
  a {
    text-decoration: none;
    background-color: transparent;
    color: $link-color;
  }
  a:hover {
    color: $link-hover-color;
  }

  .tag-list {
    display: block;
    padding-top: 0.2em;
    padding-bottom: 0.2em;
    font-size: 85%;
  }
}

.blog-item {
  padding-bottom: 1em;
}

.post {
  blockquote {
    border: 0.05em solid #b3b3b3;
    border-left: 0.2em solid #b3b3b3;
    padding: 0.5em;
  }
  pre.highlight {
    padding-top: 0.8em;
    padding-left: 0.8em;
    font-size: 100%;
    .lineno {
      color: rgba(255, 255, 255, 0.425);
      margin-right: 0.3em;
    }
  }
}

code.highlighter-rouge {
  background-color: rgba(27, 31, 35, 0.05);
  color: black;
  font-size: 85%;
  border-radius: 3px;
  padding: 0.2em 0.4em;
}

blockquote {
  border: 0.05em solid #12b410;
  border-left: 0.2em solid #12b410;
  padding: 0.5em;
}

table {
  width: 100%;
  margin-bottom: 1rem;
  color: #212529;
  border-collapse: collapse;
}

th, td {
  padding: 0.25rem;
  vertical-align: top;
  border-top: 1px solid #dee2e6;
}

thead th {
  vertical-align: bottom;
  border-bottom: 2px solid #dee2e6;
}

tbody + tbody {
  border-top: 2px solid #dee2e6;
}

.carousel-image {
  object-fit: cover;
  width: 400px;
  height: 400px;
}
