
.main-content {
    padding-top: 1em;
    font-family: Palatino, 'Palatino Linotype', 'Palatino LT STD', 'Book Antiqua', Georgia, serif;
}

h1,h2,h3,h4,h5,h6 {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.blog-item {
    padding-bottom: 1em;
}

.card-body a {
    text-decoration: none;
    background-color: transparent;
    color: rgba(0,0,0,.5);
}

.card-body a:hover {
    color: rgba(0,0,0,.7);
}

.post-metadata a {
    text-decoration: none;
    background-color: transparent;
    color: rgba(0,0,0,.5);
}

.post-metadata a:hover {
    color: rgba(0,0,0,.7);
}

.highlight {
    padding-top: 0.8em;
    padding-left: 0.8em;
    max-width: 30em;
}
.lineno {
    color: rgba(255, 255, 255, 0.425);
    margin-right: 0.3em;
}