<div class="row">
  {% assign sorted_posts = include.posts  | sort: 'date' | reverse %}
  {% for post in sorted_posts %}
  <div class="col-md-12">
  <div class="blog-item{% if post.tags contains 'race' %} race{% endif %}">
      <div class="card">
        <div class="card-body">
          <div class="text-right">
            <small>
              <time class="timeago" datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date_to_string }}</time>
            </small>
          </div>
          <a href="{{ post.url }}" title="{{ post.title }}" class="post-title-link">
            {% if post.published == false %}<span class="badge badge-warning">DRAFT</span> {% endif %}{{ post.title }}
          </a>
          {% if post.tags contains 'race' %}
            <span class="race-flag" aria-label="Race post" title="Race"><i class="fa-solid fa-flag-checkered"></i></span>
          {% endif %}
          <p class="card-text">
            <span class="tag-list">
              {% if post.tags != empty %}
              {% for tag in post.tags %}
              {% capture tag_name %}{{ tag }}{% endcapture %}
              {% include tag_chip.html name=tag_name href="/tags#" size="md" %}
              {% endfor %}
              {% endif %}
            </span>
            {{ post.content | strip_html | truncate: 250 }}
          </p>
          <div class="text-right">
            <a href="{{ post.url }}" title="{{ post.title }}" class="btn">Read more...</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  {% endfor %}
</div>