{% comment %}
Race Calendar 2026 - Planned upcoming races
This displays upcoming races in a card format similar to the main races page,
but without stats/filters since these are planned races without results yet.
{% endcomment %}

<div class="races-container">
  <div class="table-responsive">
    <table class="table races-table races-table--nohead">
      <thead class="thead-light"><tr><th class="date-col"></th><th class="race-details-col"></th></tr></thead>
      <tbody>
        {% comment %} Race 1: LNBK Ringkøbing Fjord {% endcomment %}
        <tr class="tag-ultra tag-road">
          <td class="race-details-cell" colspan="2">
            {% capture title_html %}LNBK Ringkøbing Fjord - Winter Edition{% endcapture %}
            {% capture body_html %}
              <div class="race-meta">
                <span class="meta-item distance-value">100 km</span>
                <span class="race-tags-inline race-tags-group">
                  <span class="race-tag race-tag-ultra">ultra</span>
                </span>
                <a href="https://my.raceresult.com/309269/info" class="race-tag" target="_blank" rel="noopener">🔗 race info</a>
              </div>
            {% endcapture %}
            {% capture datetime_text %}2026-01-10{% endcapture %}
            {% include table_card.html datetime_text=datetime_text title_html=title_html body_html=body_html href="https://my.raceresult.com/309269/info" %}
          </td>
        </tr>

        {% comment %} Race 2: Eventyrsport VinterTrail {% endcomment %}
        <tr class="tag-non-ultra tag-trail">
          <td class="race-details-cell" colspan="2">
            {% capture title_html %}Eventyrsport VinterTrail Mols Bjerge{% endcapture %}
            {% capture body_html %}
              <div class="race-meta">
                <span class="meta-item distance-value">46 km</span>
                <span class="race-tags-inline race-tags-group">
                  <span class="race-tag race-tag-trail">trail</span>
                </span>
                <a href="https://www.sportstiming.dk/event/16032" class="race-tag" target="_blank" rel="noopener">🔗 race info</a>
              </div>
            {% endcapture %}
            {% capture datetime_text %}2026-02-01{% endcapture %}
            {% include table_card.html datetime_text=datetime_text title_html=title_html body_html=body_html href="https://www.sportstiming.dk/event/16032" %}
          </td>
        </tr>

        {% comment %} Race 3: Grenaa Halvmarathon – 6 timers ultraløb {% endcomment %}
        <tr class="tag-ultra tag-road">
          <td class="race-details-cell" colspan="2">
            {% capture title_html %}Grenaa Halvmarathon – 6 timers ultraløb 2026{% endcapture %}
            {% capture body_html %}
              <div class="race-meta">
                <span class="meta-item distance-value">6h</span>
                <span class="race-tags-inline race-tags-group">
                  <span class="race-tag race-tag-ultra">ultra</span>
                </span>
                <a href="https://www.sportstiming.dk/event" class="race-tag" target="_blank" rel="noopener">🔗 race info</a>
              </div>
            {% endcapture %}
            {% capture datetime_text %}2026-03-14{% endcapture %}
            {% include table_card.html datetime_text=datetime_text title_html=title_html body_html=body_html href="https://www.sportstiming.dk/event" %}
          </td>
        </tr>

        {% comment %} Race 4: Wayout Backyard Ultra {% endcomment %}
        <tr class="tag-ultra tag-trail tag-backyard">
          <td class="race-details-cell" colspan="2">
            {% capture title_html %}Wayout Backyard Ultra{% endcapture %}
            {% capture body_html %}
              <div class="race-meta">
                <span class="meta-item distance-value">♾️</span>
                <span class="race-tags-inline race-tags-group">
                  <span class="race-tag race-tag-ultra">ultra</span>
                  <span class="race-tag race-tag-backyard">backyard</span>
                  <span class="race-tag race-tag-trail">trail</span>
                </span>
                <a href="https://www.sportstiming.dk/event/14528" class="race-tag" target="_blank" rel="noopener">🔗 race info</a>
              </div>
            {% endcapture %}
            {% capture datetime_text %}2026-03-27{% endcapture %}
            {% include table_card.html datetime_text=datetime_text title_html=title_html body_html=body_html href="https://www.sportstiming.dk/event/14528" %}
          </td>
        </tr>

        {% comment %} Race 5: Copenhagen Marathon {% endcomment %}
        <tr class="tag-non-ultra tag-road">
          <td class="race-details-cell" colspan="2">
            {% capture title_html %}Copenhagen Marathon{% endcapture %}
            {% capture body_html %}
              <div class="race-meta">
                <span class="meta-item distance-value">42 km</span>
                <span class="race-tags-inline race-tags-group">
                  <span class="race-tag race-tag-marathon">marathon</span>
                </span>
                <a href="https://www.copenhagenmarathon.dk" class="race-tag" target="_blank" rel="noopener">🔗 race info</a>
              </div>
            {% endcapture %}
            {% capture datetime_text %}2026-05-10{% endcapture %}
            {% include table_card.html datetime_text=datetime_text title_html=title_html body_html=body_html href="https://www.copenhagenmarathon.dk" %}
          </td>
        </tr>

        {% comment %} Race 6: 24 Timer ved Havet {% endcomment %}
        <tr class="tag-ultra tag-road">
          <td class="race-details-cell" colspan="2">
            {% capture title_html %}24 Timer ved Havet{% endcapture %}
            {% capture body_html %}
              <div class="race-meta">
                <span class="meta-item distance-value">24h</span>
                <span class="race-tags-inline race-tags-group">
                  <span class="race-tag race-tag-ultra">ultra</span>
                </span>
                <a href="https://www.sportstiming.dk/event" class="race-tag" target="_blank" rel="noopener">🔗 race info</a>
              </div>
            {% endcapture %}
            {% capture datetime_text %}2026-05-30{% endcapture %}
            {% include table_card.html datetime_text=datetime_text title_html=title_html body_html=body_html href="https://www.sportstiming.dk/event" %}
          </td>
        </tr>

        {% comment %} Race 7: Bestseller Aarhus City Half {% endcomment %}
        <tr class="tag-non-ultra tag-road">
          <td class="race-details-cell" colspan="2">
            {% capture title_html %}Bestseller Aarhus City Half{% endcapture %}
            {% capture body_html %}
              <div class="race-meta">
                <span class="meta-item distance-value">21 km</span>
                <span class="race-tags-inline race-tags-group">
                  <span class="race-tag race-tag-half">half</span>
                </span>
                <a href="https://www.aarhusmotion.dk" class="race-tag" target="_blank" rel="noopener">🔗 race info</a>
              </div>
            {% endcapture %}
            {% capture datetime_text %}2026-06-14{% endcapture %}
            {% include table_card.html datetime_text=datetime_text title_html=title_html body_html=body_html href="https://www.aarhusmotion.dk" %}
          </td>
        </tr>

        {% comment %} Race 8: HCA Marathon {% endcomment %}
        <tr class="tag-non-ultra tag-road">
          <td class="race-details-cell" colspan="2">
            {% capture title_html %}HCA Marathon{% endcapture %}
            {% capture body_html %}
              <div class="race-meta">
                <span class="meta-item distance-value">42 km</span>
                <span class="race-tags-inline race-tags-group">
                  <span class="race-tag race-tag-marathon">marathon</span>
                </span>
                <a href="https://www.hcamarathon.dk" class="race-tag" target="_blank" rel="noopener">🔗 race info</a>
              </div>
            {% endcapture %}
            {% capture datetime_text %}2026-09-27{% endcapture %}
            {% include table_card.html datetime_text=datetime_text title_html=title_html body_html=body_html href="https://www.hcamarathon.dk" %}
          </td>
        </tr>

        {% comment %} Race 9: Kullamannen by UTMB {% endcomment %}
        <tr class="tag-ultra tag-trail">
          <td class="race-details-cell" colspan="2">
            {% capture title_html %}Kullamannen by UTMB{% endcapture %}
            {% capture body_html %}
              <div class="race-meta">
                <span class="meta-item distance-value">160 km</span>
                <span class="race-tags-inline race-tags-group">
                  <span class="race-tag race-tag-ultra">ultra</span>
                  <span class="race-tag race-tag-trail">trail</span>
                </span>
                <a href="https://utmb.world/races/kullamannen" class="race-tag" target="_blank" rel="noopener">🔗 race info</a>
              </div>
            {% endcapture %}
            {% capture datetime_text %}2026-10-30{% endcapture %}
            {% include table_card.html datetime_text=datetime_text title_html=title_html body_html=body_html href="https://utmb.world/races/kullamannen" %}
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
