---
layout: default
title: moelholm.com
---

<div class="row">
  <div class="col-md-12">
    <div class="blog-item">
      <div class="card">
        <div class="card-body d-flex align-items-start flex-wrap">
          <div class="col-md-6 mb-3">
            <img src="/img_running/2024_08_utmb_ccc_finishline.jpg" alt="2024 UTML CCC Finish Line" class="w-100 pl-2 pr-2" />
          </div>

          <div class="col-md-6">
            <p class="card-text">
              <p class="fs-6 small">
                <i>This Web site is currently under construction...</i>
              </p>
                
                I'm Nicky Bass Mølholm 🇩🇰 and this is my blog. I am an avid runner, trailrunner and ultrarunner. Profiles:
                <p></p>
                <ul>
                  <li><a target="_new" href="https://www.strava.com/athletes/89837533">strava</a></li>
                  <li><a target="_new" href="https://utmb.world/en/runner/4879951.nicky.bassmolholm">utmb</a></li>
                  <li><a target="_new" href="https://itra.run/api/RunnerSpace/GetRunnerSpace?memberString=mWeU4v%2B0oGPGf9LMOe6wgw%3D%3D">itra</a></li>
                  <li><a target="_new" href="https://statistik.d-u-v.org/getresultperson.php?runner=2012387">d-u-v</a></li>
                </ul>
                Below you find my running blog posts. I hope you enjoy them.
              </p>
          </div>

        </div>
     </div>
    </div>
  </div>
</div>

{% include atom_feed_link.html feed_url="/feed/running.xml" collection="Running" %}
{% include collection_posts.html posts=site.running %}