---
layout: default
title: moelholm.com
---

<blockquote class="blockquote"><small>
⚠️ 2025-01-19: A comment about this page.
<p></p><p></p>
Consider the below posts an ARCHIVE of my software engineering blog posts. It has been years
since I last wrote about software engineering. You know ... life happens. I am still a software
engineer, but I have not been having the time to keep writing about it. I hope to get back to it
one day.</small>
</blockquote>

{% include atom_feed_link.html feed_url="/feed/software_engineering.xml" collection="Software Engineering" %}
{% include collection_posts.html posts=site.software_engineering %}