---
layout: default
title: Race Calendar 2026 - moelholm.com
permalink: /race-calendar-2026/
stylesheets: ["/css/races.css"]
races:
  - date: "2026-01-10"
    title: "LNBK Ringkøbing Fjord - Winter Edition"
    distance: "100 km"
    tags:
      - name: "ultra"
        class: "race-tag-ultra"
    url: "https://my.raceresult.com/309269/info"
  
  - date: "2026-02-01"
    title: "Eventyrsport VinterTrail Mols Bjerge"
    distance: "46 km"
    tags:
      - name: "trail"
        class: "race-tag-trail"
    url: "https://www.sportstiming.dk/event/16032"
  
  - date: "2026-03-14"
    title: "Grenaa Halvmarathon – 6 timers ultraløb 2026"
    distance: "6h"
    tags:
      - name: "ultra"
        class: "race-tag-ultra"
    url: "https://www.sportstiming.dk/event"
  
  - date: "2026-03-27"
    title: "Wayout Backyard Ultra"
    distance: "♾️"
    tags:
      - name: "ultra"
        class: "race-tag-ultra"
      - name: "backyard"
        class: "race-tag-backyard"
      - name: "trail"
        class: "race-tag-trail"
    url: "https://www.sportstiming.dk/event/14528"
  
  - date: "2026-05-10"
    title: "Copenhagen Marathon"
    distance: "42 km"
    tags:
      - name: "marathon"
        class: "race-tag-marathon"
    url: "https://www.copenhagenmarathon.dk"
  
  - date: "2026-05-30"
    title: "24 Timer ved Havet"
    distance: "24h"
    tags:
      - name: "ultra"
        class: "race-tag-ultra"
    url: "https://www.sportstiming.dk/event"
  
  - date: "2026-06-14"
    title: "Bestseller Aarhus City Half"
    distance: "21 km"
    tags:
      - name: "half"
        class: "race-tag-half"
    url: "https://www.aarhusmotion.dk"
  
  - date: "2026-09-27"
    title: "HCA Marathon"
    distance: "42 km"
    tags:
      - name: "marathon"
        class: "race-tag-marathon"
    url: "https://www.hcamarathon.dk"
  
  - date: "2026-10-30"
    title: "Kullamannen by UTMB"
    distance: "160 km"
    tags:
      - name: "ultra"
        class: "race-tag-ultra"
      - name: "trail"
        class: "race-tag-trail"
    url: "https://utmb.world/races/kullamannen"
---

<h1>Race Calendar 2026</h1>

<p>Below are the races I plan to participate in during 2026.</p>

<br/>

<div class="races-container">
  <div class="table-responsive">
    <table class="table races-table races-table--nohead">
      <thead class="thead-light"><tr><th class="date-col"></th><th class="race-details-col"></th></tr></thead>
      <tbody>
        {% for race in page.races %}
          {% include race_card.html date=race.date title=race.title distance=race.distance tags=race.tags url=race.url %}
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
