{%- if include.inline -%}
<a href="{{ include.feed_url }}" title="News Feed | {{ include.collection }}" target="_blank" class="rss-link-inline" aria-label="News Feed | {{ include.collection }}"><i class="fa-solid fa-rss" aria-hidden="true"></i></a>
{%- elsif include.float -%}
<a href="{{ include.feed_url }}" title="News Feed | {{ include.collection }}" target="_blank" class="rss-link rss-link--float" aria-label="News Feed | {{ include.collection }}"><i class="fa-solid fa-rss" aria-hidden="true"></i></a>
{%- else -%}
<div class="rss-link-block text-right mb-2">
  <a href="{{ include.feed_url }}" title="News Feed | {{ include.collection }}" target="_blank" class="rss-link" aria-label="News Feed | {{ include.collection }}"><i class="fa-solid fa-rss" aria-hidden="true"></i></a>
</div>
{%- endif -%}