
<div style="margin-bottom: 1.5rem;">
  <table style="max-width: 80%; margin: 0 auto; table-layout: fixed;">
    <colgroup>
      <col style="width: 30%;">
      <col style="width: 70%;">
    </colgroup>    
    {% for row in include.rows %}
    {% assign columns = row | split: "|" %}
    <tr>
      <td style="word-wrap: break-word; word-break: break-word; overflow-wrap: break-word;">{{ columns[0] | markdownify }}</td>
      <td style="word-wrap: break-word; word-break: break-word; overflow-wrap: break-word;">{{ columns[1] | markdownify }}</td>
    </tr>
    {% endfor %}
    {%- assign official = page.race_results_official -%}
    {%- assign utmb = page.race_results_utmb -%}
    {%- assign duv = page.race_results_duv -%}
    {%- assign itra = page.race_results_itra -%}
  {%- assign strava = page.race_results_strava -%}
  {% if official or utmb or duv or itra or strava %}
    <tr>
      <td colspan="2" style="word-wrap: break-word; word-break: break-word; overflow-wrap: break-word;">
        {% include external_race_links.html inline=true %}
      </td>
    </tr>
    {% endif %}
  </table>
</div>