<footer class="bg-light">
  <a href="https://github.com/moelholm" title="GitHub" class="text-dark m-2" target="_new"><i
      data-feather="github"></i></a>
  <a href="http://twitter.com/moelholm" title="Twitter" class="text-dark m-2" target="_new"><i
      data-feather="twitter"></i></a>
  <a href="https://dk.linkedin.com/in/nicky-bass-m%C3%B8lholm-1163a62" title="LinkedIn" class="text-dark m-2"
    target="_new"><i data-feather="linkedin"></i></a>
  <a href="mailto:moelholm@gmail.com" title="Email" class="text-dark m-2"><i data-feather="mail"></i></a>
</footer>