<footer class="bg-dark">
  &nbsp;
  <a href="https://github.com/moelholm" title="GitHub" class="fab fa-github" style="color: #fff;" target="_new"></a>
  <a href="https://fosstodon.org/@moelholm" title="Mastodon" class="fab fa-mastodon" style="color: #6364ff;" target="_new"></a>
  <a href="https://bsky.app/profile/moelholm.com" title="Bluesky" class="fa-brands fa-bluesky" style="color: #1da1f2;" target="_new"></a>
  <a href="https://dk.linkedin.com/in/nicky-bass-m%C3%B8lholm-1163a62" title="LinkedIn" style="color: #0077b5;" class="fab fa-linkedin" target="_new"></a>
  <a href="mailto:moelholm@gmail.com" title="Email" style="color: #37ce55;" class="fa-regular fa-envelope"></a>
</footer>