{%- comment -%}
Render a running post card for homepage.
Input: post
{%- endcomment -%}
<div class="blog-item blog-item--compact{% if include.post.tags contains 'race' %} race{% endif %}">
  <div class="card home-post home-post--compact position-relative">
    <div class="card-body py-2">
      <div class="text-right"><small>{{ include.post.date | date: "%Y-%m-%d %H:%M" }} UTC</small></div>
      <div class="d-flex align-items-baseline justify-content-between">
        <a href="{{ include.post.url }}" title="{{ include.post.title }}" class="post-title-link home-post__title stretched-link">{{ include.post.title }}</a>
        {% if include.post.tags contains 'race' %}
          <span class="emoji-badge" title="Race report">📖</span>
        {% endif %}
      </div>
      {% include home/card_separator.html %}
      <p class="card-text mb-2">{{ include.post.content | strip_html | truncate: 140 }}</p>
    </div>
  </div>
</div>
