{%- comment -%}
Render race calendar tags (ultra, trail, marathon, half, backyard) as styled chips.
Inputs: tags (array of tag strings)
{%- endcomment -%}
{% if include.tags %}
  {% for tag in include.tags %}
    {% assign tag_class = '' %}
    {% if tag == 'ultra' %}{% assign tag_class = 'race-tag-ultra' %}
    {% elsif tag == 'trail' %}{% assign tag_class = 'race-tag-trail' %}
    {% elsif tag == 'marathon' %}{% assign tag_class = 'race-tag-marathon' %}
    {% elsif tag == 'half' %}{% assign tag_class = 'race-tag-half' %}
    {% elsif tag == 'backyard' %}{% assign tag_class = 'race-tag-backyard' %}
    {% endif %}
    <span class="race-tag {{ tag_class }}">{{ tag }}</span>
  {% endfor %}
{% endif %}
