---
layout: default
---
<h1>
  {% if page.published == false %}<span class="badge badge-warning">DRAFT</span> {% endif %}{{ page.title }}
</h1>
<p class="post-metadata">{{ page.date | date_to_string }}</p>



{% if page.published == false %}
<div class="alert alert-warning" role="alert">
  <strong>🚧 Draft Mode:</strong> This post is currently in draft mode and will not be visible on the public website until published.
</div>
{% endif %}

{% if page.tags != empty %}
<div class="post-metadata mb-3">
  {% for tag in page.tags %}
    {% capture tag_name %}{{ tag }}{% endcapture %}
    {% include tag_chip.html name=tag_name href="/tags#" size="md" %}
  {% endfor %}
  </div>
{% endif %}

<div class="post spotlight-group">
  {{ content }}
</div>
{% if page.comments %}
{% include giscus.html %}
{% endif %}