---
layout: default
---
<h1>{{ page.title }}</h1>
<p class="post-metadata">{{ page.date | date_to_string }} {% if page.comments %} • <a
    href="{{ site.url }}{{ page.url }}#disqus_thread">0 Comments</a>{% endif %}</p>

<span class="tag-list">
  {% if page.tags != empty %}
  <p class="post-metadata">
    [
    {% for tag in page.tags %}
    {% capture tag_name %}{{ tag }}{% endcapture %}
    <a href="/tags#{{ tag_name }}"><code class="highlighter-rouge"><nobr>{{ tag_name }}</nobr></code></a>&nbsp;
    {% endfor %}
    ]</p>
  {% endif %}
</span>

<div class="post">
  {{ content }}
</div>
{% if page.comments %}
{% include disqus.html %}
{% endif %}